<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE xml>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0">
    <display-name>menores</display-name>
 
    <servlet>
        <servlet-name>menores</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>menores</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
 
    <!-- Database configuration file -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/hibernate.cfg.xml</param-value>
    </context-param>
 
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>